---
---

// https://chriskempson.github.io/base16/
// base16-tomorrow.css


$sans-font: "Karla", sans-serif;
$serif-font: "Merriweather", serif;
$brand-color: #3e999f;
$dark: #343232;
$offwhite: #F7E9BD;
$white: #fff;

$link-color: $brand-color;
$text-color: #444;
$bg-color: $white;
$logo-color: $dark;

html, body {
	margin: 0;
	padding: 0;
   background: $bg-color;
   height: 100%;
}

body {
   font-family: $sans-font;
   color: $text-color;
   border-top: 10px solid #eee;
}

*, *:before, *:after {
	box-sizing: border-box;
}

@import
   "monogram2",
   "home"
;
