$logo-unit: 2px;
$logo-bg-color: #fff;
$logo-fg-color: $logo-color;

.str-monogram {
  transform-style: preserve-3d;
  display: inline-block;
  vertical-align: text-top;
  position: relative;
  width: $logo-unit * 14;
  height: $logo-unit * 14;
  box-shadow: inset 0 0 0 $logo-unit $logo-fg-color;
  background: $logo-bg-color;
  overflow: hidden;
  border-radius: $logo-unit * 22;
}

.gram {
  position: absolute;
  top: $logo-unit * 3.5;
  left: $logo-unit * 4;
  z-index: 20;
}

.s-1, .s-2, .r, *:before, *:after {
  content: '';
  position: absolute;
  display: block;
  opacity: 1;
  background: $logo-fg-color;
}

.s-1 {
  width: $logo-unit * 4;
  top: $logo-unit * 2;
  left: $logo-unit * 2;
  height: $logo-unit * 3;
  border-radius: 0 ($logo-unit*2) ($logo-unit*2) 0;
}

.s-1:after {
  width: $logo-unit * 4;
  height: $logo-unit;
  top: $logo-unit;
  left: -$logo-unit;
  border-radius: $logo-unit;
  background: $logo-bg-color;
}

.s-1:before {
  width: $logo-unit * 3;
  height: $logo-unit;
  top: 2*$logo-unit;
  left: -2*$logo-unit;
}

.s-2 {
  width: $logo-unit * 4;
  height: $logo-unit * 3;
  top: 0;
  left: 0;
  border-radius: ($logo-unit * 2) 0 0 ($logo-unit * 2);
}

.s-2:after {
  width: $logo-unit * 4;
  height: $logo-unit;
  top: $logo-unit;
  left: $logo-unit;
  border-radius: $logo-unit;
  background: $logo-bg-color;
}

.s-2:before {
  width: $logo-unit * 3;
  height: $logo-unit;
  top: 0;
  left: $logo-unit * 3;
}

.r {
  width: $logo-unit * 3;
  height: $logo-unit * 3;
  border-radius: 0 0 0 ($logo-unit * 3);
  top: $logo-unit * 4;
  left: $logo-unit * 3;
}

.r:after {
  height: $logo-unit * 4;
  width: $logo-unit * 4;
  border-radius: $logo-unit * 2;
  top: -2 * $logo-unit;
  left: $logo-unit;
  background: $logo-bg-color;
}

.r:before {
  width: $logo-unit;
  height: $logo-unit * 3;
  top: $logo-unit 0;
  left: $logo-unit * -2;
}