<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>Steven T. Reynolds | Designer &amp; Developer</title>
    <script src="//use.typekit.net/ahh1udj.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <link rel="stylesheet" href="/css/master.css">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
  </head>
  <body>
  <div class="profile-wrapper">
    <section class="profile-section">
      <a href="/" class="profile-section--logo"></a>
      <div class="profile-title-wrapper">
      <h1 class="profile-section--title">Steven T. Reynolds</h1>
      <p class="profile-section--subhead">Designer &amp; Developer</p>
    </div>
    </section>
    <nav class="link-nav">
      <a href="http://github.com/stvnrynlds">Github</a> /
      <a href="http://dribbble.com/StevenReynolds">Dribbble</a> /
      <a href="http://codepen.io/stvnrynlds/">CodePen</a> /
      <a href="mailto:work@stevenreynolds.me">Hire</a>
    </nav>
  </div>
  <section class="site-content">
    {{ content }}
  </section>
  </body>
</html>